* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SF Regular';
    src: url(../fonts/SF-UI-Display-Regular.otf);
    src: url(../fonts/SF-UI-Display-Regular.otf) format('opentype')
}

@font-face {
    font-family: 'SF Medium';
    src: url(../fonts/SF-UI-Display-Medium.otf);
    src: url(../fonts/SF-UI-Display-Medium.otf) format('opentype')
}

@font-face {
    font-family: 'SF Text Regular';
    src: url(../fonts/SF-UI-Text-Regular.otf);
    src: url(../fonts/SF-UI-Text-Regular.otf) format('opentype')
}

@font-face {
    font-family: 'SF Text Medium';
    src: url(../fonts/SF-UI-Text-Medium.otf);
    src: url(../fonts/SF-UI-Text-Medium.otf) format('opentype')
}

@font-face {
    font-family: 'Gotham Ultra';
    src: url(../fonts/Gotham-Ultra.otf);
    src: url(../fonts/Gotham-Ultra.otf) format('opentype')
}

html, body {
    background-color: #fff;
	font-family: 'SF Text Regular', sans-serif;
    @include styleText($fs-0, $fw-normal, $color-black-0);
    line-height: $line-height-0;
}

.noscroll { overflow: hidden; }

.main-content {
    margin-top: 60px;
}

.mainMaxWidth {
    max-width: 940px;
    float: none;
    margin: auto;
    clear: both;
}

.mainMaxWidth2 {
    max-width: 870px;
    float: none;
    margin: auto;
    clear: both;
}

.slick-slide {
    outline: none
}

.session-main {
    padding-bottom: 40px;
}

// ageType
.ageType {
    font-size: 14px;
    background-color: $color-primary-1;
    border-radius: 4px;
    padding: 0 5px;
    color: $color-white-1;
    min-width: 33px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;

    &-general {
        background-color: $color-green-1;
    }
}

// session item
.session {
    cursor: pointer;
    width: calc(25% - 10px);
    float: left;
    font-family: 'SF Medium';
    font-size: $fs-0;
    font-weight: 400;
    margin: 0 10px 10px 0;
    padding: 5px 0;
    transition: all .2s;
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: rgba(246, 246, 246, .5);
    border-radius: 7px;
    color: $color-gray-4 !important;
    border: 1px solid #e4e4e4;

    .s-start-time {
        font-size: $fs-2;
        font-weight: 500;
        color: $color-green-1;
    }

    &:hover {
        .s-start-time {
            color: $color-primary-1;
        }
    }
}

// color CinemaType
.CNS {
    // color: #662D91 !important;
    color: #df0d7a !important;
}
.BHD {
    color: #4EB748 !important;
}
.DDC {
    color: #F7941E !important;
}
.MegaGS {
    color: #FFD62F !important;
}
.DCine {
    color: #E6242C !important;
}
.Lotte {
    color: #ED1B24 !important;
}

// Trailer Modal
.trailerModal {
    .modal-content {
        background-color: transparent;
        border: none;
    }

    .modal-body {
        padding: 0;

        .closeBtn {
            position: absolute;
            top: -20px;
            right: -20px;
            height: 40px;
            width: 40px;

            background-image: url('./../img/icon/close.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            
            outline: none;
            opacity: 1;
            z-index: 2;
    
            &:hover {
                opacity: .7;
            }
        }

        iframe {
            height: 450px;
            width: 100%;
        }
    }
}