@charset "UTF-8";
/*
mixin
Gần giống như hàm
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'SF Regular';
  src: url(../fonts/SF-UI-Display-Regular.otf);
  src: url(../fonts/SF-UI-Display-Regular.otf) format("opentype");
}

@font-face {
  font-family: 'SF Medium';
  src: url(../fonts/SF-UI-Display-Medium.otf);
  src: url(../fonts/SF-UI-Display-Medium.otf) format("opentype");
}

@font-face {
  font-family: 'SF Text Regular';
  src: url(../fonts/SF-UI-Text-Regular.otf);
  src: url(../fonts/SF-UI-Text-Regular.otf) format("opentype");
}

@font-face {
  font-family: 'SF Text Medium';
  src: url(../fonts/SF-UI-Text-Medium.otf);
  src: url(../fonts/SF-UI-Text-Medium.otf) format("opentype");
}

@font-face {
  font-family: 'Gotham Ultra';
  src: url(../fonts/Gotham-Ultra.otf);
  src: url(../fonts/Gotham-Ultra.otf) format("opentype");
}

html, body {
  background-color: #fff;
  font-family: 'SF Text Regular', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000000;
  line-height: 1.42857;
}

.noscroll {
  overflow: hidden;
}

.main-content {
  margin-top: 60px;
}

.mainMaxWidth {
  max-width: 940px;
  float: none;
  margin: auto;
  clear: both;
}

.mainMaxWidth2 {
  max-width: 870px;
  float: none;
  margin: auto;
  clear: both;
}

.slick-slide {
  outline: none;
}

.session-main {
  padding-bottom: 40px;
}

.ageType {
  font-size: 14px;
  background-color: #fb4226;
  border-radius: 4px;
  padding: 0 5px;
  color: #ffffff;
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 5px;
}

.ageType-general {
  background-color: #00ac4d;
}

.session {
  cursor: pointer;
  width: calc(25% - 10px);
  float: left;
  font-family: 'SF Medium';
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px 10px 0;
  padding: 5px 0;
  transition: all .2s;
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: rgba(246, 246, 246, 0.5);
  border-radius: 7px;
  color: #949494 !important;
  border: 1px solid #e4e4e4;
}

.session .s-start-time {
  font-size: 18px;
  font-weight: 500;
  color: #00ac4d;
}

.session:hover .s-start-time {
  color: #fb4226;
}

.CNS {
  color: #df0d7a !important;
}

.BHD {
  color: #4EB748 !important;
}

.DDC {
  color: #F7941E !important;
}

.MegaGS {
  color: #FFD62F !important;
}

.DCine {
  color: #E6242C !important;
}

.Lotte {
  color: #ED1B24 !important;
}

.trailerModal .modal-content {
  background-color: transparent;
  border: none;
}

.trailerModal .modal-body {
  padding: 0;
}

.trailerModal .modal-body .closeBtn {
  position: absolute;
  top: -20px;
  right: -20px;
  height: 40px;
  width: 40px;
  background-image: url("./../img/icon/close.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  opacity: 1;
  z-index: 2;
}

.trailerModal .modal-body .closeBtn:hover {
  opacity: .7;
}

.trailerModal .modal-body iframe {
  height: 450px;
  width: 100%;
}

.ageType {
  font-size: 14px;
  background-color: #fb4226;
  border-radius: 4px;
  padding: 0 5px;
  color: #fff;
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
}

header .tix-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 9;
  transition: all 0.2s;
  padding: 0.28rem 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .tix-navbar #head-menu {
  list-style: none;
  margin: 0;
  margin-left: 10%;
}

header .tix-navbar #head-menu li {
  display: inline-block;
  margin-right: 20px;
}

header .tix-navbar #head-menu li a {
  text-decoration: none;
  color: #000000;
  padding: 22px 0;
  transition: all 0.2s;
}

header .tix-navbar #head-menu li a:hover {
  color: #fb4226;
}

@media screen and (max-width: 768px) {
  header .tix-navbar #head-menu {
    display: none;
  }
}

header .tix-navbar #nav-right .nav-account {
  display: inline-block;
  padding-right: 11px;
  border-right: 1px solid #d8d8d8;
}

header .tix-navbar #nav-right .nav-account a {
  text-decoration: none;
  font-size: 13px;
  font-weight: normal;
  color: #9b9b9b;
  padding: 22px 0;
  transition: all 0.2s;
}

header .tix-navbar #nav-right .nav-account a img {
  width: 30px;
  margin-right: 5px;
}

header .tix-navbar #nav-right .nav-account a:hover {
  color: #fb4226;
}

header .tix-navbar #nav-right .selectLocation {
  display: inline-block;
}

header .tix-navbar #nav-right .selectLocation .dropdown-toggle {
  border: none;
  outline: none;
  padding: 20px 0;
  padding-left: 5px;
  background-color: transparent;
  text-decoration: none;
  font-size: 13px;
  font-weight: normal;
  color: #9b9b9b;
}

header .tix-navbar #nav-right .selectLocation .dropdown-toggle img {
  opacity: .5;
}

@media screen and (max-width: 768px) {
  header .tix-navbar #nav-right {
    display: none;
  }
}

header .tix-navbar #menu-dropdown {
  display: none;
  width: 25px;
}

header .tix-navbar #menu-dropdown img {
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  header .tix-navbar #menu-dropdown {
    display: block;
  }
}

header .tix-navbar #menu-dropdown #toggle_sideMenu {
  display: none;
}

header .tix-navbar #menu-dropdown #sideMenu__back {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 100%;
  right: 100%;
  z-index: 9;
  transition: background-color 0.4s ease;
}

header .tix-navbar #menu-dropdown #sideMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  transform: translateX(150%);
  transition: all 0.4s ease;
}

header .tix-navbar #menu-dropdown #sideMenu #sideMenu__left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
}

header .tix-navbar #menu-dropdown #sideMenu #sideMenu__right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 68%;
  background-color: #ffffff;
}

header .tix-navbar #menu-dropdown #toggle_sideMenu:checked ~ #sideMenu {
  opacity: 1;
  transform: translateX(0);
}

header .tix-navbar #menu-dropdown #toggle_sideMenu:checked ~ #sideMenu__back {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.68);
}

header .tix-navbar #menu-dropdown #toggle_sideMenu:not(:checked) ~ #sideMenu {
  transform: translateX(150%);
}

.homeBanner {
  position: relative;
}

.homeBanner .homeBanner__content {
  position: relative;
}

.homeBanner .homeBanner__content .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  width: 50px;
  height: 100px;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 2;
  outline: none;
}

.homeBanner .homeBanner__content .slick-prev {
  background-image: url("./../img/icon/back-session.png");
  left: 15px;
}

.homeBanner .homeBanner__content .slick-next {
  background-image: url("./../img/icon/next-session.png");
  right: 15px;
}

.homeBanner .homeBanner__content .homeBanner__item {
  position: relative;
}

.homeBanner .homeBanner__content .homeBanner__item img {
  width: 100%;
  display: block;
}

.homeBanner .homeBanner__content .homeBanner__item .backgroundLinear {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000, transparent 20%);
  z-index: 3;
}

.homeBanner .homeBanner__content .homeBanner__item .playTrailer {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  border: none;
  background-color: transparent;
  background-image: url("./../img/icon/play-video.png");
  transition: all 0.2s ease;
  height: 80px;
  width: 80px;
  outline: none;
}

.homeBanner .homeBanner__content .homeBanner__item:hover .playTrailer {
  opacity: 1;
  transition: all 0.2s ease;
}

.homeBanner .homeBanner__content .homeBanner__item:hover .playTrailer:hover {
  opacity: 0.7;
}

.homeBanner .homeBanner__content .slick-dots {
  margin-bottom: 0;
  list-style: none;
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 0;
}

.homeBanner .homeBanner__content .slick-dots li {
  display: inline-block;
  margin-right: 8px;
}

.homeBanner .homeBanner__content .slick-dots li button {
  background-color: #d8d8d8;
  width: 12px;
  height: 12px;
  padding: 0;
  border-radius: 50%;
  color: transparent;
  border: none;
  outline: none;
}

.homeBanner .homeBanner__content .slick-dots li.slick-active button {
  background-color: #fb4226;
}

.homeBanner .homeBanner__bookNow {
  max-width: 940px;
  margin: auto;
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .homeBanner .homeBanner__bookNow {
    display: none;
  }
}

.homeBanner .homeBanner__bookNow .dropdown {
  position: relative;
}

.homeBanner .homeBanner__bookNow .dropdown .dropdown-toggle {
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  width: 100%;
  padding: 10px 20px;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 20px;
  text-overflow: ellipsis;
  text-align: left;
}

.homeBanner .homeBanner__bookNow .dropdown .dropdown-toggle::after {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.homeBanner .homeBanner__bookNow .dropdown.selectFilm {
  width: 30%;
}

.homeBanner .homeBanner__bookNow .dropdown.selectCinema, .homeBanner .homeBanner__bookNow .dropdown.selectDate, .homeBanner .homeBanner__bookNow .dropdown.selectSession, .homeBanner .homeBanner__bookNow .dropdown.btn-bookNow {
  width: calc(70% / 4);
}

.homeBanner .homeBanner__bookNow .dropdown::after {
  content: '';
  position: absolute;
  right: 0;
  height: 79%;
  top: 50%;
  transform: translateY(-50%);
  border-right: 1px solid #fff;
  border-right-color: rgba(238, 238, 238, 0.88);
}

.homeBanner .homeBanner__bookNow #btnBuy {
  color: #ffffff;
  background-color: #4a4a4a;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 10px 25px;
  margin-left: 10px;
  outline: none;
}

.filmBlock {
  padding-top: 75px;
  overflow: hidden;
}

.filmBlock .filmBlock__content .nav-tabs {
  border-bottom: none;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.filmBlock .filmBlock__content .nav-tabs .nav-item .nav-link {
  font-family: 'SF Medium';
  color: #000000;
  line-height: 24px;
  height: 24px;
  font-size: 20px;
  border: none;
  transition: all 0.2s ease;
}

.filmBlock .filmBlock__content .nav-tabs .nav-item .nav-link.active {
  font-size: 24px;
  color: #fb4226;
  border: none;
  background-color: transparent;
}

.filmBlock .filmBlock__content .nav-tabs .nav-item .nav-link:hover {
  font-size: 24px;
  border: none;
}

.filmBlock .filmBlock__content .nav-tabs .nav-item .nav-link:hover a {
  color: #000000;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item {
  padding: 20px 10px 0;
  cursor: pointer;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item a {
  text-decoration: none;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item .filmThumbnail {
  margin-bottom: 10px;
  position: relative;
  border-radius: 4px;
  padding-top: 147.90697674%;
  background-image: url("./../../assets/img/default-film.webp");
  background-position: 0 0;
  background-size: 100%;
  background-repeat: repeat-y;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item .filmThumbnail .filmThumbnail__img {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 4px;
  z-index: 1;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item .filmThumbnail .filmThumbnail__hoverInfo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: 0 0;
  border: none;
  border-radius: 4px;
  background: linear-gradient(to top, #000, transparent 100%);
  z-index: 2;
  opacity: 0;
  transition: all 0.2s ease;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item .filmThumbnail .filmThumbnail__hoverInfo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item .filmThumbnail .filmThumbnail__hoverInfo img:hover {
  opacity: 0.8;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item .filmThumbnail .filmThumbnail__point {
  font-family: 'SF Medium';
  font-size: 16px;
  background-color: rgba(12, 27, 54, 0.8);
  border: 1px solid #1f2e46;
  border-radius: 4px;
  padding: 2px;
  position: absolute;
  top: 12px;
  right: 12px;
  color: #fff;
  width: 54px;
  text-align: center;
  line-height: 1.1;
  z-index: 2;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item .filmThumbnail .filmThumbnail__point p {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item .filmThumbnail .filmThumbnail__point p img {
  display: inline-block;
  max-width: 8px;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item .filmThumbnail .filmThumbnail__point .txtPoint {
  text-align: center;
  transform: scaleY(1.2);
  margin-bottom: 5px;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item .filmThumbnail .filmThumbnail__typeLabel {
  position: absolute;
  top: -20px;
  left: -10px;
  width: 80%;
  pointer-events: none;
  overflow: hidden;
  transform: translate(-5%, -12%);
  max-width: 150px;
  z-index: 2;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item .filmThumbnail .filmThumbnail__typeLabel img {
  width: 100%;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item .filmInfo {
  position: relative;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item .filmInfo .nameFilm {
  height: 42px;
  max-height: 42px;
  font-family: 'SF Medium';
  font-size: 16px;
  color: #000;
  line-height: 22px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item .filmInfo .infoFilm {
  font-size: 13px;
  color: #4a4a4a;
  margin-bottom: 15px;
  margin-top: 8px;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item .filmInfo .hideHover {
  visibility: visible;
  opacity: 1;
  transition: all .2s;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item .filmInfo .showHover {
  visibility: hidden;
  opacity: 0;
  transition: all .2s;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item .filmInfo .showHover .buyNow {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  border-radius: 4px;
  color: #fff;
  font-size: 18px !important;
  padding: 10px;
  text-align: center;
  background: #fb4226;
  background: linear-gradient(to left, #fb4226, #ce3017 100%);
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item:hover .filmThumbnail__hoverInfo {
  opacity: 1;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item:hover .showHover {
  visibility: visible;
  opacity: 1;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .film__item:hover .hideHover {
  visibility: hidden;
  opacity: 0;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  width: 50px;
  height: 100px;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 2;
  outline: none;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .slick-prev {
  background-image: url("./../img/icon/back-session.png");
  left: -60px;
}

.filmBlock .filmBlock__content .tab-content .tab-pane .slick-next {
  background-image: url("./../img/icon/next-session.png");
  right: -60px;
}

.cinemaComplex .cinemaComplex__content {
  padding-top: 120px;
  background: url("./../img/icon/back-news.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
}

.cinemaComplex .cinemaComplex__content #parentListPCinemas {
  background-color: #ffffff;
  max-height: 705px;
  width: 92px;
  border: 1px solid #ebebec;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
}

.cinemaComplex .cinemaComplex__content #parentListPCinemas a {
  position: relative;
  transition: all 0.2s ease;
  padding: 20px;
}

.cinemaComplex .cinemaComplex__content #parentListPCinemas a img {
  opacity: 0.5;
  width: 50px;
  filter: grayscale(100%);
  transition: all 0.2s ease;
}

.cinemaComplex .cinemaComplex__content #parentListPCinemas a img:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.cinemaComplex .cinemaComplex__content #parentListPCinemas a.active img {
  opacity: 1;
  filter: grayscale(0%);
}

.cinemaComplex .cinemaComplex__content #parentListPCinemas a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  border-color: rgba(238, 238, 238, 0.88);
}

.cinemaComplex .cinemaComplex__content #parentListPCinemas a:last-child::after {
  display: none;
}

.cinemaComplex .cinemaComplex__content #listCinemas {
  background-color: #ffffff;
  max-height: 705px;
  border-top: 1px solid #ebebec;
  border-bottom: 1px solid #ebebec;
  width: 30%;
  overflow-x: hidden;
  overflow-y: auto;
}

.cinemaComplex .cinemaComplex__content #listCinemas::-webkit-scrollbar {
  width: 5px;
  background-color: #e8e3e3;
}

.cinemaComplex .cinemaComplex__content #listCinemas::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c5c5c5;
}

.cinemaComplex .cinemaComplex__content #listCinemas::-webkit-scrollbar-track {
  border-radius: 10px;
}

.cinemaComplex .cinemaComplex__content #listCinemas .cinema {
  padding: 15px;
  padding-left: 20px;
  float: left;
  clear: both;
  width: 100%;
  position: relative;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.2s ease;
}

.cinemaComplex .cinemaComplex__content #listCinemas .cinema:first-child {
  padding-top: 20px;
}

.cinemaComplex .cinemaComplex__content #listCinemas .cinema:hover, .cinemaComplex .cinemaComplex__content #listCinemas .cinema.active {
  opacity: 1;
}

.cinemaComplex .cinemaComplex__content #listCinemas .cinema img {
  width: 50px;
  float: left;
}

.cinemaComplex .cinemaComplex__content #listCinemas .cinema::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  transform: translateX(-50%);
  border-bottom: 1px solid #ffffff;
  border-color: rgba(238, 238, 238, 0.88);
}

.cinemaComplex .cinemaComplex__content #listCinemas .cinema:last-child::after {
  display: none;
}

.cinemaComplex .cinemaComplex__content #listCinemas .cinema .wrapInfo {
  padding-left: 60px;
}

.cinemaComplex .cinemaComplex__content #listCinemas .cinema .wrapInfo span {
  display: block;
  line-height: 1.4;
}

.cinemaComplex .cinemaComplex__content #listCinemas .cinema .wrapInfo .nameMovieCinema {
  font-size: 14px;
  color: #000000;
}

.cinemaComplex .cinemaComplex__content #listCinemas .cinema .wrapInfo .nameMovieCinema .colorCinema {
  display: inline;
  color: #fb4226;
}

.cinemaComplex .cinemaComplex__content #listCinemas .cinema .wrapInfo .infoMovieCinema {
  font-size: 12px;
  color: #949494;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cinemaComplex .cinemaComplex__content #listCinemas .cinema .wrapInfo .showingDetailCinema a {
  color: #fb4226;
  font-size: 12px;
}

.cinemaComplex .cinemaComplex__content #listMovies {
  background-color: #ffffff;
  float: left;
  height: 705px;
  width: calc(100% - 30% - 92px);
  border: 1px solid #ebebec;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.cinemaComplex .cinemaComplex__content #listMovies::-webkit-scrollbar {
  width: 5px;
  background-color: #e8e3e3;
}

.cinemaComplex .cinemaComplex__content #listMovies::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c5c5c5;
}

.cinemaComplex .cinemaComplex__content #listMovies::-webkit-scrollbar-track {
  border-radius: 10px;
}

.cinemaComplex .cinemaComplex__content #listMovies .wrapMovie {
  float: left;
  clear: both;
  padding-bottom: 17px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 20px;
  width: 100%;
  position: relative;
  margin-bottom: 0;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.cinemaComplex .cinemaComplex__content #listMovies .wrapMovie:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  transform: translateX(-50%);
  border-bottom: 1px solid #ccc;
  border-color: rgba(238, 238, 238, 0.88);
}

.cinemaComplex .cinemaComplex__content #listMovies .wrapMovie:last-child:after {
  display: none;
}

.cinemaComplex .cinemaComplex__content #listMovies .wrapMovie .movieInfo {
  float: left;
  clear: both;
  cursor: pointer;
  width: 100%;
}

.cinemaComplex .cinemaComplex__content #listMovies .wrapMovie .movieInfo .movieImage {
  width: 50px;
  float: left;
  height: 50px;
  object-fit: cover;
}

.cinemaComplex .cinemaComplex__content #listMovies .wrapMovie .movieInfo .wrapInfo {
  width: 100%;
  padding-left: 65px;
  padding-top: 6px;
}

.cinemaComplex .cinemaComplex__content #listMovies .wrapMovie .movieInfo .wrapInfo .movieTitle {
  font-size: 14px;
  font-family: 'SF Medium';
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000;
}

.cinemaComplex .cinemaComplex__content #listMovies .wrapMovie .movieInfo .wrapInfo p {
  margin: 0;
  line-height: 1.7;
  font-size: 12px;
  color: #9b9b9b;
}

.cinemaComplex .cinemaComplex__content #listMovies .wrapMovie .movieSessions {
  float: left;
  clear: both;
  width: 100%;
  transition: height .3s ease-in-out;
}

.cinemaComplex .cinemaComplex__content #listMovies .wrapMovie .movieSessions .listTypeTime {
  float: left;
  width: 100%;
  padding-top: 15px;
}

.cinemaComplex .cinemaComplex__content #listMovies .wrapMovie .movieSessions .listTypeTime .s-version {
  float: left;
  width: 100%;
  font-family: 'SF Medium';
  font-size: 16px;
  color: #000000;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .cinemaComplex .cinemaComplex__content {
    flex-direction: column;
  }
  .cinemaComplex .cinemaComplex__content #listCinemas {
    width: 100%;
  }
  .cinemaComplex .cinemaComplex__content #listMovies {
    width: 100%;
  }
}

.news .news__content {
  background: url("./../img/icon/back-news.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 120px;
}

.news .nav-tabs {
  border-bottom: none;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.news .nav-tabs .nav-item .nav-link {
  font-family: 'SF Medium';
  color: #000000;
  line-height: 24px;
  height: 24px;
  font-size: 20px;
  border: none;
  transition: all 0.2s ease;
}

.news .nav-tabs .nav-item .nav-link.active {
  font-size: 24px;
  color: #fb4226;
  border: none;
  background-color: transparent;
}

.news .nav-tabs .nav-item .nav-link:hover {
  font-size: 24px;
  border: none;
}

.news .nav-tabs .nav-item .nav-link:hover a {
  color: #000000;
}

.news .tab-content .news__item {
  float: left;
  padding: 0 7.5px;
}

.news .tab-content .news__item:nth-child(8n+1), .news .tab-content .news__item:nth-child(8n+2) {
  width: 50%;
  margin-bottom: 20px;
}

.news .tab-content .news__item:nth-child(8n+3), .news .tab-content .news__item:nth-child(8n+4) {
  width: 33.33333333%;
  margin-bottom: 20px;
}

.news .tab-content .news__item:nth-child(8n+5), .news .tab-content .news__item:nth-child(8n+6), .news .tab-content .news__item:nth-child(8n+7), .news .tab-content .news__item:nth-child(8n+8) {
  width: 33.33333333%;
}

.news .tab-content .news__item:nth-child(8n+5) .newsThumbnail, .news .tab-content .news__item:nth-child(8n+6) .newsThumbnail, .news .tab-content .news__item:nth-child(8n+7) .newsThumbnail, .news .tab-content .news__item:nth-child(8n+8) .newsThumbnail {
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 10px;
  padding-top: 0;
}

.news .tab-content .news__item:nth-child(8n+5) .newsTitle, .news .tab-content .news__item:nth-child(8n+6) .newsTitle, .news .tab-content .news__item:nth-child(8n+7) .newsTitle, .news .tab-content .news__item:nth-child(8n+8) .newsTitle {
  float: left;
  width: calc(100% - 70px);
  opacity: .7;
  font-family: 'SF Regular';
}

.news .tab-content .news__item:nth-child(8n+5) .newsDescription, .news .tab-content .news__item:nth-child(8n+5) .blockIconFacebook, .news .tab-content .news__item:nth-child(8n+6) .newsDescription, .news .tab-content .news__item:nth-child(8n+6) .blockIconFacebook, .news .tab-content .news__item:nth-child(8n+7) .newsDescription, .news .tab-content .news__item:nth-child(8n+7) .blockIconFacebook, .news .tab-content .news__item:nth-child(8n+8) .newsDescription, .news .tab-content .news__item:nth-child(8n+8) .blockIconFacebook {
  display: none;
}

@media screen and (max-width: 576px) {
  .news .tab-content .news__item:nth-child(8n+1), .news .tab-content .news__item:nth-child(8n+2), .news .tab-content .news__item:nth-child(8n+3), .news .tab-content .news__item:nth-child(8n+4), .news .tab-content .news__item:nth-child(8n+5), .news .tab-content .news__item:nth-child(8n+6), .news .tab-content .news__item:nth-child(8n+7), .news .tab-content .news__item:nth-child(8n+8) {
    width: 100%;
    margin-bottom: 20px;
  }
  .news .tab-content .news__item:nth-child(8n+5), .news .tab-content .news__item:nth-child(8n+6), .news .tab-content .news__item:nth-child(8n+7), .news .tab-content .news__item:nth-child(8n+8) {
    margin-bottom: 0;
  }
}

.news .tab-content .news__item .newsThumbnail {
  height: unset;
  padding-top: 55%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
  background-color: #e8e8e8;
  margin-bottom: 10px;
}

.news .tab-content .news__item .newsThumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  transition: all .2s;
  position: absolute;
  top: 0;
  left: 0;
}

.news .tab-content .news__item .newsThumbnail a {
  text-decoration: none;
}

.news .tab-content .news__item a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  transition: all 0.2s ease;
}

.news .tab-content .news__item .newsTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  font-family: 'SF Medium';
  height: 42px;
  font-size: 16px;
  transition: color 0.2s ease;
  margin-bottom: 5px;
}

.news .tab-content .news__item .newsTitle:hover {
  color: #fb4226;
}

.news .tab-content .news__item .newsDescription {
  text-align: justify;
  font-size: 13px;
  color: #4a4a4a;
  font-family: "SF Regular";
  padding: 0 5px 0 0;
  line-height: 19px;
  letter-spacing: 0.17;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 55px;
  margin-bottom: 15px;
}

.news .tab-content .news__item .blockIconFacebook {
  padding-left: 0;
  float: left;
  width: 100%;
  height: 25px;
}

.news .tab-content .news__item .blockIconFacebook .wrapIcon {
  display: inline-table;
  margin-right: 25px;
  cursor: pointer;
}

.news .tab-content .news__item .blockIconFacebook .wrapIcon .iconFacebook {
  display: table-cell;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: 2px;
  height: auto;
  width: 18px;
  transition: all .2s;
}

.news .tab-content .news__item .blockIconFacebook .wrapIcon .amount {
  display: table-cell;
  vertical-align: middle;
  color: #bbb;
  font-size: 12px;
  line-height: 1;
}

.news .tab-content .wrapButtonSeeMoreNews {
  margin-bottom: 35px;
  float: left;
  width: 100%;
}

.news .tab-content .wrapButtonSeeMoreNews .btnViewMore {
  font-size: 14px;
  color: #949494;
  font-family: "SF Regular";
  border: 1px solid #949494;
  border-radius: 4px;
  text-align: center;
  background: 0 0;
  padding: 7px 25px;
  transition: all 0.2s ease;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 20px;
  display: block;
  outline: none;
}

.news .tab-content .wrapButtonSeeMoreNews .btnViewMore:hover {
  color: #ffffff;
  background-color: #fb4226;
  border-color: #fb4226;
}

.homeApp {
  padding: 120px 0 80px 0;
  background: url("./../img/icon/backapp.jpg");
  background-size: contain;
  color: #ffffff;
}

.homeApp .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeApp .left .left__content .textLeft {
  color: #ffffff;
  font-weight: 700;
  font-size: xx-large;
}

.homeApp .left .left__content .textSmallLeft {
  color: #ffffff;
  font-size: medium;
}

.homeApp .left .left__content .buttonLeft {
  background-color: #fb4226;
  padding: 10px 20px;
  color: #ffffff;
  font-size: medium;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  outline: none;
}

.homeApp .left .left__content .textAppUnder {
  color: #ffffff;
  padding-top: 10px;
}

.homeApp .left .left__content .textAppUnder a {
  color: #ffffff;
  text-decoration: underline;
  transition: all 0.2s ease;
}

.homeApp .left .left__content .textAppUnder a:hover {
  color: #fb4226;
}

.homeApp .right {
  position: relative;
  padding: 0;
}

.homeApp .right .img-responsive {
  padding: 0 28%;
  display: block;
  max-width: 100%;
  height: auto;
}

.homeApp .right #homeApp__slides {
  position: absolute;
  padding: 1.5% 29.3% 0 29.3%;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 10px;
}

.homeApp .right #homeApp__slides .slick-list {
  border-radius: 22px;
}

.homeApp .right #homeApp__slides img {
  width: 100%;
}

footer {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #949494;
}

footer .footer__links .title {
  color: #ffffff;
  font-size: 80%;
  text-transform: uppercase;
}

footer .footer__links .footer__tix a {
  font-size: 12px !important;
  font-size: 80%;
  font-weight: 700;
  white-space: nowrap;
  color: #949494;
  display: block;
  transition: all .2s;
  line-height: 2.3;
  text-decoration: none;
  transition: all 0.2s ease;
}

footer .footer__links .footer__tix a:hover {
  text-decoration: none;
  color: #ffffff;
}

footer .footer__links .linePartner {
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
}

footer .footer__links .linePartner a {
  text-decoration: none;
  transition: all 0.2s ease;
}

footer .footer__links .linePartner a:hover {
  opacity: 0.8;
}

footer .footer__links .linePartner a img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

footer .footer__links .linePartner a img.bg-white {
  background-color: #ffffff;
}

footer .footer__links .iconApp {
  background: 0 0;
  height: 30px;
  width: auto;
  margin: 5px;
}

@media screen and (max-width: 992px) {
  footer .footer__links .hideOnMobile {
    display: none;
  }
}

footer .hrFooter {
  border-top: 1px solid #4a4a4a;
}

footer .footer__info {
  margin: 0;
}

footer .footer__info > * {
  padding: 0;
}

footer .footer__info .footer__logo {
  text-align: center;
}

footer .footer__info .footer__logo img {
  width: 80px;
  border-radius: 8px;
  height: auto;
  margin-bottom: 10px;
}

footer .footer__info .imgBoCongThuong {
  width: 130px;
}

footer .footer__info span {
  display: block;
  line-height: 1.8;
  color: #949494;
  font-size: 12px;
  font-weight: 400;
}

footer .footer__info span:first-child {
  color: #ffffff;
}

footer .footer__info span a {
  text-decoration: none;
  color: #fb4226;
}

footer .footer__info span a:hover {
  color: #ffffff;
}

.signin {
  width: 100%;
  height: 100vh;
  min-height: 378px;
  background-image: url("./../img/icon/bg2.jpg");
  background-size: contain;
  background-position: center;
  position: relative;
}

.signin__wrapper {
  width: 444px;
  padding: 40px 32px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to bottom, rgba(20, 50, 93, 0.9), rgba(8, 22, 48, 0.9));
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45);
  color: #fff;
  border-radius: 6px;
}

.signin__wrapper .header {
  text-align: center;
  margin-bottom: 39px;
}

.signin__wrapper .header__logo {
  width: 59px;
  height: auto;
  margin-bottom: 10px;
}

.signin__wrapper .header h1 {
  font-family: "SF Medium";
  font-size: 2rem;
}

.signin__wrapper form input {
  outline: none;
  border: none;
}

.signin__wrapper form input:focus {
  box-shadow: 0px 0px 20px #7ed321 !important;
}

.signin__wrapper form button[type="submit"] {
  background-color: #fb4226;
  outline: none;
  border: none;
  box-shadow: none !important;
  transition: all 0.3s ease;
}

.signin__wrapper form button[type="submit"]:visited, .signin__wrapper form button[type="submit"]:focus, .signin__wrapper form button[type="submit"]:active, .signin__wrapper form button[type="submit"]:not(:disabled):not(.disabled):active {
  background-color: #fb4226;
  outline: none;
  border: none;
  box-shadow: none !important;
}

.signin__wrapper form button[type="submit"]:hover {
  background-color: #F09819;
}

.signin__wrapper .text__signUp {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  opacity: 0.6;
  transition: all 0.2s ease-in;
}

.signin__wrapper .text__signUp strong {
  color: #fa5238;
  text-decoration: underline;
}

.signin__wrapper .text__signUp:hover {
  opacity: 1;
}

.filmDetail {
  position: relative;
  background-color: #0a2029;
}

.filmDetail__top {
  position: relative;
  background-color: #0a2029;
  overflow: hidden;
}

.filmDetail__top__posterLandscape__img {
  filter: blur(15px);
  width: 100%;
}

@media screen and (max-width: 576px) {
  .filmDetail__top__posterLandscape__img {
    filter: none;
  }
}

.filmDetail__top__gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, #0a2029, transparent 100%);
}

.filmDetail__top__info {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 870px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  .filmDetail__top__info {
    display: none;
  }
}

.filmDetail__top__info .filmDetail__poster {
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: 220px;
}

.filmDetail__top__info .filmDetail__poster__content {
  border-radius: 4px;
  padding-top: 147.90697674%;
  background-position: center,0 0;
  background-size: 100% auto;
  background-repeat: no-repeat,repeat-y;
  position: relative;
}

.filmDetail__top__info .filmDetail__poster__content .btnPlayTrailer {
  background-color: transparent;
  background-image: url("./../img/icon/play-video.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border: none;
  outline: none;
  opacity: 0;
  transition: opacity .2s ease;
}

.filmDetail__top__info .filmDetail__poster__content:hover .btnPlayTrailer {
  opacity: 1;
}

.filmDetail__top__info .filmDetail__title__date {
  font-size: 14px;
}

.filmDetail__top__info .filmDetail__title__main {
  font-size: 24px;
  font-family: 'SF Medium';
  color: #e9e9e9;
}

.filmDetail__top__info .filmDetail__title__ageType {
  margin-right: 6px;
  margin-top: 6px;
  background-color: #fb4226;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  padding: 0 5px;
  display: inline-block;
  text-align: center;
  min-width: 33px;
}

.filmDetail__top__info .filmDetail__title__length {
  font-size: 14px;
  color: #e9e9e9;
}

.filmDetail__top__info .filmDetail__title__btnBook {
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  background: 0 0;
  padding: 7px 25px;
  transition: all .2s;
  margin-top: 25px;
  margin-bottom: 20px;
  background-color: #fb4226;
  border: none;
  color: #fff;
  text-decoration: none;
}

.filmDetail__top__info .filmDetail__title__btnBook:hover {
  background-color: #b42a14;
}

.filmDetail__top__info .filmDetail__point {
  position: absolute;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 0;
}

.filmDetail__top__info .filmDetail__point .progressCircle {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 126px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

.filmDetail__top__info .filmDetail__point .progressCircle:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}

.filmDetail__top__info .filmDetail__point .progressCircle:after {
  position: absolute;
  top: 7.5px;
  bottom: 7.5px;
  left: 7.5px;
  right: 7.5px;
  border-radius: 50%;
  content: attr(data-point);
  z-index: 1;
  font-size: 3.8rem;
  line-height: 111px;
  color: #ffffff;
  text-align: center;
  background-color: #4B5155;
  transition: transform 0.3s ease;
}

.filmDetail__top__info .filmDetail__point .progressCircle:hover:after, .filmDetail__top__info .filmDetail__point .progressCircle:focus:after {
  transform: scale(0.9);
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="0"]:before {
  --percentageProgress: 0deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="0.1"]:before {
  --percentageProgress: 3.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="0.2"]:before {
  --percentageProgress: 7.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="0.3"]:before {
  --percentageProgress: 10.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="0.4"]:before {
  --percentageProgress: 14.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="0.5"]:before {
  --percentageProgress: 18deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="0.6"]:before {
  --percentageProgress: 21.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="0.7"]:before {
  --percentageProgress: 25.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="0.8"]:before {
  --percentageProgress: 28.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="0.9"]:before {
  --percentageProgress: 32.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="1"]:before {
  --percentageProgress: 36deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="1.1"]:before {
  --percentageProgress: 39.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="1.2"]:before {
  --percentageProgress: 43.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="1.3"]:before {
  --percentageProgress: 46.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="1.4"]:before {
  --percentageProgress: 50.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="1.5"]:before {
  --percentageProgress: 54deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="1.6"]:before {
  --percentageProgress: 57.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="1.7"]:before {
  --percentageProgress: 61.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="1.8"]:before {
  --percentageProgress: 64.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="1.9"]:before {
  --percentageProgress: 68.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="2"]:before {
  --percentageProgress: 72deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="2.1"]:before {
  --percentageProgress: 75.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="2.2"]:before {
  --percentageProgress: 79.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="2.3"]:before {
  --percentageProgress: 82.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="2.4"]:before {
  --percentageProgress: 86.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="2.5"]:before {
  --percentageProgress: 90deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="2.6"]:before {
  --percentageProgress: 93.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="2.7"]:before {
  --percentageProgress: 97.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="2.8"]:before {
  --percentageProgress: 100.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="2.9"]:before {
  --percentageProgress: 104.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="3"]:before {
  --percentageProgress: 108deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="3.1"]:before {
  --percentageProgress: 111.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="3.2"]:before {
  --percentageProgress: 115.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="3.3"]:before {
  --percentageProgress: 118.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="3.4"]:before {
  --percentageProgress: 122.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="3.5"]:before {
  --percentageProgress: 126deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="3.6"]:before {
  --percentageProgress: 129.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="3.7"]:before {
  --percentageProgress: 133.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="3.8"]:before {
  --percentageProgress: 136.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="3.9"]:before {
  --percentageProgress: 140.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="4"]:before {
  --percentageProgress: 144deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="4.1"]:before {
  --percentageProgress: 147.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="4.2"]:before {
  --percentageProgress: 151.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="4.3"]:before {
  --percentageProgress: 154.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="4.4"]:before {
  --percentageProgress: 158.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="4.5"]:before {
  --percentageProgress: 162deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="4.6"]:before {
  --percentageProgress: 165.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="4.7"]:before {
  --percentageProgress: 169.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="4.8"]:before {
  --percentageProgress: 172.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="4.9"]:before {
  --percentageProgress: 176.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="5"]:before {
  --percentageProgress: 180deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="5.1"]:before {
  --percentageProgress: 183.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="5.2"]:before {
  --percentageProgress: 187.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="5.3"]:before {
  --percentageProgress: 190.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="5.4"]:before {
  --percentageProgress: 194.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="5.5"]:before {
  --percentageProgress: 198deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="5.6"]:before {
  --percentageProgress: 201.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="5.7"]:before {
  --percentageProgress: 205.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="5.8"]:before {
  --percentageProgress: 208.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="5.9"]:before {
  --percentageProgress: 212.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="6"]:before {
  --percentageProgress: 216deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="6.1"]:before {
  --percentageProgress: 219.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="6.2"]:before {
  --percentageProgress: 223.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="6.3"]:before {
  --percentageProgress: 226.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="6.4"]:before {
  --percentageProgress: 230.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="6.5"]:before {
  --percentageProgress: 234deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="6.6"]:before {
  --percentageProgress: 237.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="6.7"]:before {
  --percentageProgress: 241.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="6.8"]:before {
  --percentageProgress: 244.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="6.9"]:before {
  --percentageProgress: 248.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="7"]:before {
  --percentageProgress: 252deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="7.1"]:before {
  --percentageProgress: 255.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="7.2"]:before {
  --percentageProgress: 259.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="7.3"]:before {
  --percentageProgress: 262.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="7.4"]:before {
  --percentageProgress: 266.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="7.5"]:before {
  --percentageProgress: 270deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="7.6"]:before {
  --percentageProgress: 273.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="7.7"]:before {
  --percentageProgress: 277.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="7.8"]:before {
  --percentageProgress: 280.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="7.9"]:before {
  --percentageProgress: 284.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="8"]:before {
  --percentageProgress: 288deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="8.1"]:before {
  --percentageProgress: 291.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="8.2"]:before {
  --percentageProgress: 295.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="8.3"]:before {
  --percentageProgress: 298.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="8.4"]:before {
  --percentageProgress: 302.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="8.5"]:before {
  --percentageProgress: 306deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="8.6"]:before {
  --percentageProgress: 309.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="8.7"]:before {
  --percentageProgress: 313.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="8.8"]:before {
  --percentageProgress: 316.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="8.9"]:before {
  --percentageProgress: 320.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="9"]:before {
  --percentageProgress: 324deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="9.1"]:before {
  --percentageProgress: 327.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="9.2"]:before {
  --percentageProgress: 331.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="9.3"]:before {
  --percentageProgress: 334.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="9.4"]:before {
  --percentageProgress: 338.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="9.5"]:before {
  --percentageProgress: 342deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="9.6"]:before {
  --percentageProgress: 345.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="9.7"]:before {
  --percentageProgress: 349.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="9.8"]:before {
  --percentageProgress: 352.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="9.9"]:before {
  --percentageProgress: 356.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="10"]:before {
  --percentageProgress: 360deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="10.1"]:before {
  --percentageProgress: 363.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="10.2"]:before {
  --percentageProgress: 367.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="10.3"]:before {
  --percentageProgress: 370.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="10.4"]:before {
  --percentageProgress: 374.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="10.5"]:before {
  --percentageProgress: 378deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="10.6"]:before {
  --percentageProgress: 381.6deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="10.7"]:before {
  --percentageProgress: 385.2deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="10.8"]:before {
  --percentageProgress: 388.8deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .progressCircle[data-point="10.9"]:before {
  --percentageProgress: 392.4deg;
  background: conic-gradient(#7ed321 var(--percentageProgress, 0), transparent var(--percentageProgress, 0)) border-box;
}

.filmDetail__top__info .filmDetail__point .rating-group {
  display: inline-flex;
  /* set icon padding and size */
  /* add padding and positioning to half star labels */
}

.filmDetail__top__info .filmDetail__point .rating-group .rating__label {
  /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
  padding: 0 0.1em;
  font-size: 1.5rem;
  /* set color of none icon when unchecked */
}

.filmDetail__top__info .filmDetail__point .rating-group .rating__label .rating__icon {
  pointer-events: none;
}

.filmDetail__top__info .filmDetail__point .rating-group .rating__label .rating__icon--star {
  color: orange;
}

.filmDetail__top__info .filmDetail__point .rating-group .rating__label .rating__icon--none {
  color: #eee;
}

.filmDetail__top__info .filmDetail__point .rating-group .rating__label--half {
  padding-right: 0;
  margin-right: -0.6em;
  z-index: 2;
}

.filmDetail__top__info .filmDetail__point .counterReviewer {
  font-size: 14px;
  color: #e9e9e9;
}

@media screen and (max-width: 768px) {
  .filmDetail__top__info .filmDetail__point {
    display: none;
  }
}

.filmDetail__titleMobile {
  display: none;
}

@media screen and (max-width: 576px) {
  .filmDetail__titleMobile {
    display: block;
    font-family: 'SF Medium';
    color: #9b9b9b;
    font-size: 14px;
    padding: 0 5px;
  }
  .filmDetail__titleMobile__date {
    margin-bottom: 0;
  }
  .filmDetail__titleMobile__title {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 0;
  }
  .filmDetail__titleMobile__title .ageType {
    font-size: 15px;
  }
  .filmDetail__titleMobile__length {
    margin-bottom: 0;
  }
}

.filmDetail__content {
  transform: translateY(-70px);
}

@media screen and (max-width: 768px) {
  .filmDetail__content {
    transform: translateY(20px);
  }
}

.filmDetail__content .nav-tabs {
  border-bottom: none;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.filmDetail__content .nav-tabs .nav-item .nav-link {
  font-family: 'SF Medium';
  color: #ffffff;
  line-height: 20px;
  height: 20px;
  font-size: 20px;
  border: none;
  transition: all 0.2s ease;
}

.filmDetail__content .nav-tabs .nav-item .nav-link.active {
  color: #fb4226;
  border: none;
  background-color: transparent;
}

.filmDetail__content .nav-tabs .nav-item .nav-link:hover {
  font-size: 22px;
  border: none;
}

.filmDetail__content .tab-content {
  color: #ffffff;
  margin-top: 55px;
}

.filmDetail__content .tab-content .tab-pane.fade {
  transition: opacity .15s linear;
}

.filmDetail__content .tab-content .tab-pane .listCinema {
  list-style-type: none;
  background: #fff;
  height: 713px;
  min-height: 713px;
  float: left;
  border-top: 1px solid #ebebec;
  border-bottom: 1px solid #ebebec;
  border-left: 1px solid #ebebec;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 28%;
  overflow-x: hidden;
  overflow-y: auto;
}

.filmDetail__content .tab-content .tab-pane .listCinema::-webkit-scrollbar {
  width: 5px;
  background-color: #e8e3e3;
}

.filmDetail__content .tab-content .tab-pane .listCinema::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c5c5c5;
}

.filmDetail__content .tab-content .tab-pane .listCinema::-webkit-scrollbar-track {
  border-radius: 10px;
}

.filmDetail__content .tab-content .tab-pane .listCinema li.active .tabCinema, .filmDetail__content .tab-content .tab-pane .listCinema li:hover .tabCinema {
  opacity: 1;
  cursor: pointer;
}

.filmDetail__content .tab-content .tab-pane .listCinema li .tabCinema {
  opacity: 0.5;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.filmDetail__content .tab-content .tab-pane .listCinema li .tabCinema img {
  width: 50px;
  margin-right: 10px;
}

.filmDetail__content .tab-content .tab-pane .listCinema li .tabCinema .infoCinema .infoCinema__name {
  font-size: 16px;
  font-family: 'SF Medium';
  color: #000;
}

.filmDetail__content .tab-content .tab-pane .listCinema li .tabCinema:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  transform: translateX(-50%);
  border-bottom: 1px solid #ccc;
  border-color: rgba(238, 238, 238, 0.88);
}

.filmDetail__content .tab-content .tab-pane .listCinema li:last-child .tabCinema:after {
  border-bottom: none;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule {
  float: left;
  width: 72%;
  border: 1px solid #ebebec;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #fff;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listDayOfWeek {
  height: 90px;
  padding: 16px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: #fff;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listDayOfWeek::-webkit-scrollbar {
  height: 5px;
  background-color: #e8e3e3;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listDayOfWeek::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c5c5c5;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listDayOfWeek::-webkit-scrollbar-track {
  border-radius: 10px;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listDayOfWeek .listDayOfWeek__item {
  display: inline-block;
  width: 88px;
  cursor: pointer;
  color: #000;
  text-align: center;
  font-family: 'SF Medium';
  transition: all 0.2s ease;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listDayOfWeek .listDayOfWeek__item .day {
  font-size: 14px;
  padding-top: 9px;
  margin-bottom: 0;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listDayOfWeek .listDayOfWeek__item .date {
  font-size: 18px;
  margin-bottom: 0;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listDayOfWeek .listDayOfWeek__item.active, .filmDetail__content .tab-content .tab-pane .filmSchedule .listDayOfWeek .listDayOfWeek__item:hover {
  color: #fb4226 !important;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listDayOfWeek .listDayOfWeek__item.disabled {
  opacity: 0.3 !important;
  pointer-events: none;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listSession {
  width: 100%;
  height: 621px;
  min-height: 621px;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listSession::-webkit-scrollbar {
  width: 5px;
  background-color: #e8e3e3;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listSession::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c5c5c5;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listSession::-webkit-scrollbar-track {
  border-radius: 10px;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listSession .wrapCinema {
  float: left;
  clear: both;
  padding: 20px 20px 10px 20px;
  width: 100%;
  position: relative;
  margin-bottom: 0;
  border: none;
  border-radius: 0 !important;
  box-shadow: none;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listSession .wrapCinema:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  transform: translateX(-50%);
  border-top: 1px solid #ccc;
  border-color: rgba(238, 238, 238, 0.88);
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listSession .wrapCinema .cinema {
  padding-bottom: 20px;
  float: left;
  clear: both;
  cursor: pointer;
  white-space: nowrap;
  width: 100%;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listSession .wrapCinema .cinema__img {
  width: 50px;
  float: left;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listSession .wrapCinema .cinema__info {
  padding-left: 10px !important;
  height: 50px;
  overflow: hidden;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listSession .wrapCinema .cinema__info__name {
  display: block;
  font-size: 14px;
  padding-top: 4px;
  color: #000;
  font-family: 'SF Medium';
  font-size: 16px;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listSession .wrapCinema .cinema__info__name .colorCinema {
  color: #000;
}

.filmDetail__content .tab-content .tab-pane .filmSchedule .listSession .wrapCinema .movieSessions .s-version {
  float: left;
  width: 100%;
  font-family: 'SF Medium';
  font-size: 16px;
  color: #000;
  margin-bottom: 5px;
}

.filmDetail__content .tab-content .tab-pane .thongTin .film {
  padding: 0 7px;
}

.filmDetail__content .tab-content .tab-pane .thongTin .rowInfo .contentTitle {
  width: 35%;
  float: left;
  font-size: 14px;
  font-family: 'SF Medium';
  color: #ffffff;
}

.filmDetail__content .tab-content .tab-pane .thongTin .rowInfo .contentInfo {
  width: 40%;
  float: left;
  font-size: 14px;
  color: #e9e9e9;
}

.filmDetail__content .tab-content .tab-pane .thongTin .rowInfo .contentInfoFull {
  display: block;
  width: 100%;
  float: left;
  text-align: justify;
  font-family: 'SF Regular';
  font-size: 14px;
}

.filmDetail__content .tab-content .tab-pane .review {
  max-width: 580px;
  margin: 0 calc(50% - 290px);
}

.filmDetail__content .tab-content .tab-pane .review .userReview {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  border-radius: 4px;
}

.filmDetail__content .tab-content .tab-pane .review .userReview__avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-image: url("./../img/avatar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.filmDetail__content .tab-content .tab-pane .review .userReview__input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  outline: none;
}

.filmDetail__content .tab-content .tab-pane .review .userReview__star {
  height: 24px;
  width: 130px;
  background-image: url("./../img/icon/listStar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item {
  position: relative;
  padding: 15px 15px 12px;
  background-color: #fff;
  border-radius: 4px;
  margin: 10px 0;
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item .comment__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item .comment__info__reviewer {
  display: flex;
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item .comment__info__reviewer .reviewerIcon {
  position: relative;
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item .comment__info__reviewer .reviewerIcon img {
  height: 32px;
  width: 32px;
  border-radius: 25px;
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item .comment__info__reviewer .reviewerIcon .zaloFbIcon {
  background-image: url("./../img/icon/zalo.svg");
  position: absolute;
  height: 18px !important;
  width: 18px !important;
  right: -30%;
  bottom: 0;
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item .comment__info__reviewer .reviewerName {
  margin-left: 10px;
  font-family: "SF Medium";
  margin-left: 15px;
  display: inline-block;
  height: 32px;
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item .comment__info__reviewer .reviewerName__name {
  color: #000;
  font-size: 14px;
  margin-bottom: 0;
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item .comment__info__reviewer .reviewerName__datetime {
  font-size: 10px;
  color: #9b9b9b;
  line-height: 1;
  margin-bottom: 0;
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item .comment__info__star .rating-group {
  display: inline-flex;
  /* set icon padding and size */
  /* add padding and positioning to half star labels */
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item .comment__info__star .rating-group .rating__label {
  /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
  padding: 0 0.1em;
  font-size: 1rem;
  /* set color of none icon when unchecked */
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item .comment__info__star .rating-group .rating__label .rating__icon {
  pointer-events: none;
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item .comment__info__star .rating-group .rating__label .rating__icon--star {
  color: orange;
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item .comment__info__star .rating-group .rating__label .rating__icon--none {
  color: #eee;
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item .comment__info__star .rating-group .rating__label--half {
  padding-right: 0;
  margin-right: -0.6em;
  z-index: 2;
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item .comment__content {
  padding: 15px 0;
  font-size: 14px;
  color: #4a4a4a !important;
  letter-spacing: -.2px;
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item .comment__like {
  padding: 10px 0 0 0;
  margin-top: 0;
  border-top: 1px solid #e6e6e6;
  text-align: left;
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item .comment__like .wrapIconLike {
  display: flex;
  align-items: center;
  float: left;
  cursor: pointer;
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item .comment__like .wrapIconLike:before {
  display: inline-block;
  content: '';
  height: 16px;
  width: 16px;
  background-image: url("./../img/icon/like.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5px;
  transition: all 0.2s ease-in;
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item .comment__like .wrapIconLike .amount {
  color: #737576 !important;
  font-size: 12px;
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item .comment__like .wrapIconLike:hover:before {
  transform: scale(1.2);
}

.filmDetail__content .tab-content .tab-pane .review .listComment__item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 576px) {
  .filmDetail__content .tab-content .tab-pane .review {
    max-width: 100%;
    margin: 0 5px;
  }
}
/*# sourceMappingURL=main.css.map */