.filmDetail {
    position: relative;
    background-color: $color-dark-0;

    &__top {
        position: relative;
        background-color: $color-dark-0;
        overflow: hidden;

        &__posterLandscape {
            &__img {
                filter: blur(15px);
                width: 100%;
                @include responsive('small') {
                    filter: none;
                }
            }
        }

        &__gradient {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            
            background: linear-gradient(to top, $color-dark-0, transparent 100%);
        }

        &__info {
            position: absolute;
            top: 50%;
            width: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: $mainMaxWidth;
            display: flex;
            align-items: center;
            // justify-self: start;
            // align-content: flex-start;
            justify-content: flex-start;
            color: $color-white-1;

            @include responsive('small') {
                display: none;
            }




            .filmDetail__poster {
                padding-left: 0!important;
                padding-right: 0!important;
                max-width: 220px;

                &__content {
                    border-radius: 4px;
                    padding-top: 147.90697674%;
                    background-position: center,0 0;
                    background-size: 100% auto;
                    background-repeat: no-repeat,repeat-y;
                    position: relative;

                    .btnPlayTrailer {
                        background-color: transparent;
                        background-image: url('./../img/icon/play-video.png');
                        background-repeat: no-repeat;

                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        width: 80px;
                        height: 80px;
                        border: none;
                        outline: none;

                        opacity: 0;
                        transition: opacity .2s ease;
                    }

                    &:hover .btnPlayTrailer {
                        opacity: 1;
                    }
                }
            }

            .filmDetail__title {
                &__date {
                    font-size: 14px;
                }

                &__main {
                    font-size: 24px;
                    font-family: 'SF Medium';
                    color: #e9e9e9;
                }

                &__ageType {
                    margin-right: 6px;
                    margin-top: 6px;
                    // float: left;
                    background-color: #fb4226;
                    color: #fff;
                    font-size: 16px;
                    border-radius: 4px;
                    padding: 0 5px;
                    display: inline-block;
                    text-align: center;
                    min-width: 33px;
                }

                &__length {
                    font-size: 14px;
                    color: #e9e9e9;
                }

                &__btnBook {
                    display: inline-block;
                    font-size: 16px;
                    border-radius: 4px;
                    text-align: center;
                    background: 0 0;
                    padding: 7px 25px;
                    transition: all .2s;
                    margin-top: 25px;
                    margin-bottom: 20px;
                    background-color: #fb4226;
                    border: none;
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        background-color: #b42a14;
                    }
                }
            }

            .filmDetail__point {
                position: absolute;
                right: 0;
                text-align: center;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-right: 0;

                .progressCircle {
                    position: relative;
                    margin-bottom: 10px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 126px;
                    height: 126px;
                    border-radius: 50%;

                    background-color: rgba(0,0,0,.4);
                    // background-color: $color-progress-dark;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        border-radius: 50%;
                    }

                    &:after {
                        position: absolute;
                        top: 7.5px;
                        bottom: 7.5px;
                        left: 7.5px;
                        right: 7.5px;
                        border-radius: 50%;

                        content: attr(data-point);
                        z-index: 1;
                        font-size: 3.8rem;
                        line-height: 111px;
                        color: $color-white-1;
                        text-align: center;

                        // background-color: $color-progress-dark-2;
                        background-color: #4B5155;
                        transition: transform 0.3s ease;
                    }

                    &:hover, &:focus {
                        &:after {
                            transform: scale(0.9);
                        }
                        
                    }

                    @include loopProgressCircle();
    
                }

                .rating-group {
                    display: inline-flex;

                    /* set icon padding and size */
                    .rating__label {
                        // cursor: pointer;
                        /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
                        padding: 0 0.1em;
                        font-size: 1.5rem;

                        .rating__icon {
                            pointer-events: none;
                        }

                        .rating__icon--star {
                            color: orange;
                        }

                        /* set color of none icon when unchecked */
                        .rating__icon--none {
                            color: #eee;
                        }
                    }

                    /* add padding and positioning to half star labels */
                    .rating__label--half {
                        padding-right: 0;
                        margin-right: -0.6em;
                        z-index: 2;
                    }
                }

                .counterReviewer {
                    font-size: 14px;
                    color: #e9e9e9;
                }

                @include responsive('medium') {
                    display: none;
                }
            }

            
        }
    }

    &__titleMobile {
        display: none;

        @include responsive('small') {
            display: block;
            font-family: 'SF Medium';
            color: #9b9b9b;
            font-size: 14px;
            padding: 0 5px;

            &__date {
                margin-bottom: 0;
            }
            &__title {
                color: $color-white-1;
                font-size: 20px;
                margin-bottom: 0;

                .ageType {
                    font-size: 15px;
                }
            }
            &__length {
                margin-bottom: 0;
            }
        }
    }



    &__content {
        transform: translateY(-70px);
        @include responsive('medium') {
            transform: translateY(20px);
        }

        .nav-tabs {
            border-bottom: none;
            display: flex;
            justify-content: center;
            margin-bottom: 30px;

            .nav-item {
                .nav-link {    
                    font-family: 'SF Medium';
                    color: $color-white-1;
                    line-height: 20px;
                    height: 20px;
                    font-size: 20px;
                    border: none;
                    transition: all $transition-time-0 ease;

                    &.active {
                        color: $color-primary-1;
                        border: none;
                        background-color: $color-trans;
                    }

                    &:hover {
                        font-size: 22px;
                        border: none;
                    }
                }

            }
        }

        .tab-content {
            color: $color-white-1;
            margin-top: 55px;
            .tab-pane {

                &.fade {
                    transition: opacity .15s linear;
                }

                // LỊCH CHIẾU 
                // listCinema
                .listCinema {
                    list-style-type: none;
                    background: #fff;
                    height: 713px;
                    min-height: 713px;
                    float: left;
                    border-top: 1px solid #ebebec;
                    border-bottom: 1px solid #ebebec;
                    border-left: 1px solid #ebebec;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                    width: 28%;

                    @include customScrollbar('x');

                    li {
                        &.active, &:hover {
                            .tabCinema {
                                opacity: 1;
                                cursor: pointer;
                            }
                        }

                        .tabCinema {
                            opacity: 0.5;
                            // transition: opacity .15s ease-in;
                            padding: 20px;
                            position: relative;
                            display: flex;
                            align-items: center;

                            img {
                                width: 50px;
                                margin-right: 10px;
                            }

                            .infoCinema {
                                .infoCinema__name {
                                    font-size: 16px;
                                    font-family: 'SF Medium';
                                    color: #000;
                                }
                            }

                            &:after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                width: calc(100% - 40px);
                                transform: translateX(-50%);
                                border-bottom: 1px solid #ccc;
                                border-color: rgba(238, 238, 238, .88);
                            }
                        }

                        &:last-child{
                            .tabCinema:after {
                                border-bottom: none;
                            }
                        }
                    }
                }
                // filmSchedule
                .filmSchedule {
                    float: left;
                    width: 72%;
                    border: 1px solid #ebebec;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    background-color: #fff;

                    .listDayOfWeek {
                        height: 90px;
                        padding: 16px!important;
                        padding-left: 0!important;
                        padding-right: 0!important;
                        background-color: #fff;
                        white-space: nowrap;
                        // overflow-x: scroll;
                        // overflow-y: hidden;
                        overflow-x:auto;
                        overflow-y:hidden;

                        &::-webkit-scrollbar {
                            height: 5px;
                            background-color: #e8e3e3;
                        }
                        &::-webkit-scrollbar-thumb {
                            border-radius: 10px;
                            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                            background-color: #c5c5c5;
                        }
                        &::-webkit-scrollbar-track {
                            border-radius: 10px;
                        }

                        .listDayOfWeek__item {
                            display: inline-block;
                            width: 88px;
                            cursor: pointer;

                            color: #000;
                            text-align: center;
                            font-family: 'SF Medium';
                            transition: all 0.2s ease;

                            .day {
                                font-size: 14px;
                                padding-top: 9px;
                                margin-bottom: 0;
                            }

                            .date {
                                font-size: 18px;
                                margin-bottom: 0;
                            }

                            &.active
                            , &:hover {
                                color: $color-primary-1 !important;
                            }

                            &.disabled {
                                opacity: 0.3!important;
                                pointer-events: none;
                            }
                        }
                    }

                    .listSession {
                        width: 100%;
                        height: 621px;
                        min-height: 621px;
                        background-color: #fff;
                        @include customScrollbar('x');

                        .wrapCinema {
                            float: left;
                            clear: both;
                            padding: 20px 20px 10px 20px;
                            width: 100%;
                            position: relative;
                            margin-bottom: 0;
                            border: none;
                            border-radius: 0!important;
                            box-shadow: none;

                            &:after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                width: calc(100% - 40px);
                                transform: translateX(-50%);
                                border-top: 1px solid #ccc;
                                border-color: rgba(238,238,238,.88);
                            }

                            .cinema {
                                padding-bottom: 20px;
                                float: left;
                                clear: both;
                                cursor: pointer;
                                white-space: nowrap;
                                width: 100%;

                                &__img {
                                    width: 50px;
                                    float: left;
                                }

                                &__info {
                                    padding-left: 10px !important;
                                    height: 50px;
                                    overflow: hidden;

                                    &__name {
                                        display: block;
                                        font-size: 14px;
                                        padding-top: 4px;

                                        color: #000;
                                        font-family: 'SF Medium';
                                        font-size: 16px;

                                        .colorCinema {
                                            color: #000;
                                        }
                                    }

                                    &__address {

                                    }
                                }
                            }

                            .movieSessions {
                                .s-version {
                                    float: left;
                                    width: 100%;
                                    font-family: 'SF Medium';
                                    font-size: 16px;
                                    color: #000;
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }
                }

                // THÔNG TIN
                .thongTin {
                    .film {
                        padding: 0 7px;
                    }

                    .rowInfo {
                        .contentTitle {
                            width: 35%;
                            float: left;
                            font-size: 14px;
                            font-family: 'SF Medium';
                            color: $color-white-1;
                        }
                        
                        .contentInfo {
                            width: 40%;
                            float: left;
                            font-size: 14px;
                            color: #e9e9e9;
                        }

                        .contentInfoFull {
                            display: block;
                            width: 100%;
                            float: left;
                            text-align: justify;
                            font-family: 'SF Regular';
                            font-size: 14px;
                        }
                    }
                }

                // ĐÁNH GIÁ
                .review {
                    max-width: 580px;
                    margin: 0 calc(50% - 290px);

                    // userReview
                    .userReview {
                        display: flex;
                        align-items: center;
                        padding: 15px;
                        background-color: #fff;
                        border-radius: 4px;

                        &__avatar {
                            height: 36px;
                            width: 36px;
                            border-radius: 50%;
                            background-image: url('./../img/avatar.png');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                        }

                        &__input {
                            flex-grow: 1;
                            padding: 10px;
                            border: none;
                            outline: none;
                        }

                        &__star {
                            height: 24px;
                            width: 130px;
                            background-image: url('./../img/icon/listStar.png');
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                        }
                    }

                    // listComment
                    .listComment {

                        &__item {
                            position: relative;
                            // padding: 20px 20px 12px;
                            padding: 15px 15px 12px;
                            background-color: #fff;
                            border-radius: 4px;
                            margin: 10px 0;

                            .comment__info {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                &__reviewer {
                                    display: flex;

                                    .reviewerIcon {
                                        position: relative;
                                        img {
                                            height: 32px;
                                            width: 32px;
                                            border-radius: 25px;
                                        }

                                        .zaloFbIcon {
                                            background-image: url('./../img/icon/zalo.svg');
                                            position: absolute;
                                            height: 18px !important;
                                            width: 18px !important;
                                            right: -30%;
                                            bottom: 0;
                                        }
                                    }

                                    .reviewerName {
                                        margin-left: 10px;
                                        
                                        font-family: "SF Medium";
                                        margin-left: 15px;
                                        
                                        display: inline-block;
                                        height: 32px;

                                        &__name {
                                            color: #000;
                                            font-size: 14px;
                                            margin-bottom: 0;
                                        }
                                        &__datetime {
                                            font-size: 10px;
                                            color: #9b9b9b;
                                            line-height: 1;
                                            margin-bottom: 0;
                                        }
                                    }
                                }

                                &__star {
                                    .rating-group {
                                        display: inline-flex;
                    
                                        /* set icon padding and size */
                                        .rating__label {
                                            // cursor: pointer;
                                            /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
                                            padding: 0 0.1em;
                                            font-size: 1rem;
                    
                                            .rating__icon {
                                                pointer-events: none;
                                            }
                    
                                            .rating__icon--star {
                                                color: orange;
                                            }
                    
                                            /* set color of none icon when unchecked */
                                            .rating__icon--none {
                                                color: #eee;
                                            }
                                        }
                    
                                        /* add padding and positioning to half star labels */
                                        .rating__label--half {
                                            padding-right: 0;
                                            margin-right: -0.6em;
                                            z-index: 2;
                                        }
                                    }
                                }
                            }

                            .comment__content {
                                padding: 15px 0;
                                font-size: 14px;
                                color: #4a4a4a !important;
                                letter-spacing: -.2px;
                            }

                            .comment__like {
                                padding: 10px 0 0 0;
                                margin-top: 0;
                                border-top: 1px solid #e6e6e6;
                                text-align: left;

                                .wrapIconLike {
                                    display: flex;
                                    align-items: center;
                                    float: left;
                                    cursor: pointer;

                                    &:before {
                                        display: inline-block;
                                        content: '';
                                        height: 16px;
                                        width: 16px;
                                        background-image: url('./../img/icon/like.png');background-position: center;
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                        margin-right: 5px;
                                        transition: all 0.2s ease-in;
                                    }

                                    .amount {
                                        color: #737576!important;
                                        font-size: 12px;
                                    }

                                    &:hover {
                                        &:before {
                                            transform: scale(1.2);
                                        }
                                    }
                                }
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }

                    @include responsive('small') {
                        max-width: 100%;
                        margin: 0 5px;
                    }
                }

            }
            
        }
    }
}