/*
mixin
Gần giống như hàm
*/

@mixin styleText($fs, $fw, $color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}

@mixin styleButton($bg-color, $border-color, $py, $px) {
    background-color: $bg-color;
    border: 1px solid $border-color;
    padding: $py $px;
}

@mixin hoverButton($color, $bg-color, $border-color) {
    color: $color;
    background-color: $bg-color;
    border-color: $border-color;
}

@mixin formSearch($bg-color, $border-focus) {
    .input-group {
        background-color: $bg-color;
        border-radius: 2px;

        .form-control {
            background-color: transparent;
            border-color: transparent;

            &:focus {
                background-color: $color-white-0;
                border-color: $border-focus;
                border-right-color: transparent;
                outline: none;
                box-shadow: none;
                border-radius: 2px;

                & + .input-group-append {
                    button {
                        background-color: $color-white-0;
                        border-color: $color-gray-6;
                        border-left-color: transparent;

                        &:hover {
                            background-color: $color-red-0;
                            color: $color-white-0;
                        }
                    }
                }
                
                
            }
        }

        button {
            background-color: transparent;
            border-color: transparent;
            color: $color-red-0;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;

            &:hover {
                color: $color-white-0;
                background-color: $color-red-0;
            }
        }

    }
}

// Progress circle: convert POINT to deg
// deg = point * 36
@mixin loopProgressCircle() {
    @for $i from 0 through 10 {
        $point: $i;
        @for $j from 0 through 9 {
            $deg: $point*36;
            &[data-point="#{$point}"]:before {
                --percentageProgress: #{$deg}deg;
                background: conic-gradient($color-progress-green var(--percentageProgress,0), transparent var(--percentageProgress,0)) border-box;
            }

            $point: $point + 0.1;
        }
    }
}

// Custom Scrollbar
@mixin customScrollbar($overflowBy: 'x') {
    @if ($overflowBy == 'x') {
        overflow-x:hidden;
        overflow-y:auto;
    } @else if ($overflowBy == 'y') {
        overflow-x:auto;
        overflow-y:hidden;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: #e8e3e3;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #c5c5c5;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }
}

@mixin responsive($sreen) {
    @if map-has-key($map: $breakpoints, $key: $sreen) {
        $value: map-get($map: $breakpoints, $key: $sreen);
        @media screen and (max-width: $value) {
            @content;
        }
    }
    @else {
        @warn "Cannot found"
    }
}

