// color
$color-primary-1:   #fb4226;
$color-primary-2:   #fa5238;
$color-green-1:     #00ac4d;
$color-black-0:     #000000;
$color-white-1:     #ffffff;
$color-gray-1:      #9b9b9b;
$color-gray-2:      #d8d8d8;
$color-gray-3:      #4a4a4a;
$color-gray-4:      #949494;
$color-blue-1:      #60c5ef;            // dropdown hover
$color-dark-0:      #0a2029;
$color-progress-green: #7ed321;
$color-progress-dark:   #3a3a3a;
$color-progress-dark-2:   #0E100E;

$color-trans:       transparent;

$color-progress-dark-trans: rgba(0,0,0,.4);



// transition time
$transition-time-0: 0.2s;    // default


// font-size
$fs--2: 12px;
$fs--1: 13px;
$fs-0:  14px;       // default
$fs-1:  15px;
$fs-2:  18px;
$fs-3:  20px;       // title normal
$fs-4:  24px;       // title.active



// max width
$mainMaxWidth: 870px;






//margin
$mg-0: 5px;         // used
$mg-1: 10px;
$mg-2: 20px;        // used



//variable border-radius
$border-radius: 2px;


//variable padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 20px;



// line-height
$line-height-0: 1.42857143;   // default
// $line-height-0: 1.43;



// font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;


//break points
$breakpoints:(
    'extra-large':  1200px,
    'large':        992px,
    'medium':       768px,
    'small':        576px,
);
